body{
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 70px;
  background-color: #a1cff5;
}
.calculator{
  border:2px solid #1d3849;
  width: 220px;
  color: #a2bbcf;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background-color: #1d3849;
}

button{
  width: 40px;
  height: 40px;
  margin: 5px;
  
}

#display{
  margin: -10px 5px 15px 5px;
  width: 180px;
  font-size: 25px;
  border-radius: 15px;
  background-color: #a2bbcf;
  color: #142f44;
  border: 1px solid lightsteelblue;
}

.btn1{
  background-color: #a2bbcf;
  color: #142f44;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.btn2{
  background-color: 	#205b7a;
  color: white;
  border: 1px solid 	#205b7a;
  border-radius: 5px;
}
.btn3{
  background-color: #005ca3;
  color: white;
  border: 1px solid #005ca3;
  border-radius: 5px;
}